* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px auto;
}

.navbar-link {
  font-size: 20px;
  text-decoration: none;
  margin-left: 15px;
  color: #7C808C;
}

.navbar-link:hover {
  color: black;
}

.link-tnw {
  display: flex;
  justify-content:center;
  justify-self: flex-start;
  position: absolute;
  left: 20px;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

  .tech-conference-link {
  background-color: #FFDD33;
  text-decoration: none;
}

.conference-link {
  padding: 10px 20px;
}

.tech-2022{
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.landing-page {
  height: 650px;
  display: flex;
  padding: 15px 20px;
}

.article-ctn1 {
  flex: 1;
  margin-right: 6px;
}
.article-ctn2 {
  flex: 1;
}

.main-article,
.top-article2 { 
  height: 60%;
  background-image: url(./metaverse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 6px;
  cursor: pointer;
}

.main-article-div,
.main-article-div2 {
  height: 100%;
  background-image: linear-gradient(180deg,transparent 0,#000);
}

.main-article-a,
.main-article-a2 {
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 0;
}

.link-div,
.link-div2 {
  position: absolute;
  width: 90%;
  left: 20px;
  bottom: 20px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

.main-article-p,
.main-article-p2 {
  font-size: 35px;
  color: white;
  text-decoration: none;
}

.tickets-link {
  height: 40%;
  background-image: url(./image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.tickets-div {
  height: 100%;
  background-image: linear-gradient(180deg,transparent 0,#000);
}

.tickets-parag1,
.tickets-parag2 {
  font-size: 35px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 20px;
  width: 90%;
}

.tickets-parag2 {
  font-size: 20px;
  font-weight: normal;
}

.button-l {
  background-color: #ca1e9f;
  padding: 13px 24px;
  font-size: 17px;
  border: none;
  font-weight: normal;
  border-radius: 25px;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.button-l:hover {
  cursor: pointer;
  background-color: #9e0277;
}

.top-article1 {
  height: 37%;
  display: flex;
  margin-bottom: 6px;
  cursor: pointer;
}

.top-article2 {
  height: 63%;
  background-image: url(./neural.jpg);
  background-position: center;
  cursor: pointer;
}

.inner-top-article1,
.inner-top-article2 {
  flex: 1;
}

.inner-top-article1,
.inner-top-article2 {
  background-image: url(./evs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-right: 6px;
}

.inner-top-article2 {
  background-image: url(./google.jpg);
  margin-right: 0;
}

.inner-top-article1 div,
.inner-top-article2 div {
  height: 100%;
  background-image: linear-gradient(180deg,transparent 0,#000);
}

.paragraph1, 
.paragraph2 {
  color: white;
  position: absolute;
  left: 20px;
  top: 48%;
  font-size: 12px;
}

.parag-top-article1,
.parag-top-article2 {
  color: white;
  width: 90%;
  font-size: 23px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.popular-stories {
  padding: 40px 0 30px 0;
  display: flex;
  justify-content: center;
}

.popular-stories p {
  font-size: 22px;
  font-weight: bold;
}

.most-popular {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}

.most-popular-links {
  flex: 1;
}

.image {
  height: 130px;
  width: 240px;
}

.image-link {
  width: 93%;
  font-size: 19px;
  font-weight: 540;
  padding: 14px 0;
}

.parag3,
.parag4 {
  width: 85%;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  text-decoration-line: underline;
  text-decoration-color: rgb(228, 167, 167);
  text-decoration-thickness: 2px;
}

.latest-ctn {
  margin: 40px auto;
}

.latest-parag {
  font-size: 21px;
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
  width: 92%;
}

.latest-image {
  width: 280px;
  height: 160px;
}

.latest-divs {
  display: flex;
  flex-wrap: wrap;
  width: 93%;
  margin: 20px auto;
  justify-content: center;
}

.latest-divs-links {
  width: 23%;
  margin: 12px;
}

.latest-link {
  width: 91%;
  font-size: 16px;
  margin-top: 4px;
  font-family: Graphic, sans-serif;
  line-height: 24px;
}

.link-title {
  font-size: 12px;
  text-decoration: none;
  color: #A7AAB2;
}

.link-title:hover {
  color: #000000;
}

.link-title p {
  margin-top: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 25px;
  background-color: #CC0099;
  border: none;
  text-decoration: none;
  color: white;
}


::placeholder {
  color: white;
  opacity: 0.4;
}

.button-link:hover {
  cursor: pointer;
  background-color: #c753aa;
}

.contact {
  height: 360px;
  background-color: rgb(101, 0, 110);
  margin: 100px auto;
  /* display: flex; */
  text-align: center;
}

.paragraph-title {
  font-size: 42px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 70px;
}

.link-paragr {
  color: white;
  font-size: 18px;
  padding: 15px 0;
}

.link-paragr a {
  color: #00CCAF;
  text-decoration: none;
}

.link-paragr a:hover {
  color: white;
}

.form {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: rgba(177, 177, 177, 0.5);
  margin: 10px 0;
}

.form-in {
  width: 53%;
  margin: 0 auto;
}

.form-in div {
  position: relative;
}

.ok {
  position: absolute;
  right: 15px;
  color: white;
  top: 35%;
  text-decoration: none;
  font-size: 18px;
}

.icon {
  margin: 18px 0;
}

.icon-image {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  border: none;
  margin: 8px;
}

.icon-image:hover {
  background-color: white;
}

.middle-div-ctn {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.middle-div-ctn div {
}

.float-left {
  flex: 1;
}

.float-right {
  width: 95%;
  height: inherit;
  border-top: 1px solid rgb(199, 199, 199);
  margin-bottom: 70px;
}

.float-right-header {
  display: flex;
  justify-content: end;
}

.float-right-header p {
  font-size: 22px;
  padding: 50px 0;
}

.float-right-body {
  display: flex;
  justify-content: space-between;
}

.apple-network,
.social-network {
  width: 49%;
}

.social-network {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.apple-network {
  display: flex;
  flex-direction: column; 
}

.apple-image {
  width: 410px;
}

.apple-link1 {
  font-size: 13px;
  color: #A7AAB2;
  margin-top: 14px;
  text-decoration: none;
}

.apple-link1:hover {
  color: black;
}

.apple-link2 {
  font-size: 20px;
  margin-top: 4px;
  text-decoration: none;
  color: #000;
  
}

.apple-link2:hover {
  text-decoration-line: underline;
  text-decoration-color: #BCDDFF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.apple-network p {
  font-size: 15px;
  color: #505666;
  margin-top: 10px;
}

.social-network-twitter {
  display: flex;
  justify-content: space-between;
}

.img-links {
  width: 70%;
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

.phone {
  width: 26%;
  cursor: pointer;
}

.link1 {
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #7C808C;
}

.link1:hover {
  color: black;
}

.link2 {
  font-size: 15px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.link2:hover {
  text-decoration-line: underline;
  text-decoration-color: #BCDDFF;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.image-fixed {
  width: 300px;
}

.you-tube-ctn {
  background-color: #F7F8F8;
  height: 122vh;
  padding: 20px 0;
  margin-top: 50px;
}

.yt-ctn {
  width: 91%;
  margin: 30px auto;
  height: 105vh;
  display: flex;
  justify-content: space-between;
}

.yt-ctn-left,
.yt-ctn-right {
  height: inherit;
}

.yt-video {
  height: 75%;
}

.yt-ctn-left {
  width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.yt-video-link {
  height:23%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: context-menu;
  justify-content: center;
  color: white;
  line-height: 30px;
  background-color: black;
  border-top: 1px solid rgb(63, 63, 63);
}

.data {
  font-size: 12px;
  color: #A7AAB2;
}

.yt-ctn-right {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ctn-right-image {
  width: 280px;
  height: 170px;
}

.ctn-right-image-link {
  font-size: 15px;
}

.ctn-right-image-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #E9A6D8;
  text-decoration-thickness: 2px;
  cursor:context-menu;
}

.elements-link {
  display: flex;
  height: 450px;
  justify-content: space-between;
}

.work-us,
.elements {
  width: 49%;
  cursor: context-menu;
}

.work-us {
  margin-left: 55px;
}

.work-us-parag1 {
  color: #D83BB1;
  font-size: 15px;
  font-weight: bold;
  padding: 90px 0 5px 0;
}

.work-us-parag2 {
  font-size: 31px;
  font-weight: 900;
}

.work-us-parag3 {
  margin-top: 22px;
  font-size: 18px;
  color: #6E7380;
  word-spacing: 2px;
  line-height: 28px;
  font-family: Gaphic, sans-serif;
}

.work-us-button {
  font-size: 15px;
  padding: 13px 24px;
  border-radius: 4px;
  background-color: #00CCCC;
  color: white;
  border: none;
  margin: 30px 0;
}

.work-us-button:hover {
  background-color: #48dada;
  cursor: pointer;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  height: 290px;
  margin-top: 90px;
  margin-right: 30px;
}

.element {
  width: 50%;
  display: flex;
  align-items: center;
  cursor: context-menu;
}

.element-image {
  width: 110px;
  height: 110px;
  margin-right: 15px;
}

.company-links {
  width: 85%;
  margin: 20px auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
} 

.company-links {
  margin-bottom: 80px;
}

.company-link {
  width: 12%;
  opacity: 0.6;
}

.company-link:hover {
opacity: 1;
}

.information-tnw {
  height: 70vh;
  background-color: #000;
}

.information-tnw-div1 {
  height: 66%;
  display: flex;
}

.link-wp {
  color: white;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
}

.div {
  margin-top: 40px;
  margin-left: 70px;
}

.tnw-icon {
  background-color: #505666;
  width: fit-content;
  height: 42px;
  border-radius: 8px;
  margin-left: 70px;
  margin-top: 45px;
}

.tnw-div1-logo p {
  color: white;
  font-size: 25px;
}


.tnw-div1-logo,
.tnw-div1-menu {
  width: 50%;
}

.tnw-div1-menu {
  display: flex;
}

.more-tnw h3,
.about-tnw h3 {
  color: white;
  padding-bottom: 20px;
}

.more-tnw a,
.about-tnw a {
  color: #00CCCC ;
  text-decoration: none;
  font-size: 15px;
}

.more-tnw a:hover,
.about-tnw a:hover {
  text-decoration: underline;
  text-decoration-color: #00CCCC;
  text-underline-offset: 2px;
}

.more-tnw p,
.about-tnw p {
  margin-top: 4px;
}

.more-tnw,
.about-tnw {
  flex: 1;
  padding-top: 50px;
}

.information-tnw-div2 {
  height: 34%;
  padding-top: 35px;
  border-top: 1px solid #A7AAB2;
}

.information-tnw-div2 p {
  color: #A7AAB2;
  font-size: 13px;
  text-align: center;
}

.tnw-div2-link {
  color: white;
  text-decoration: none;
}

.tnw-div2-link:hover {
  color: #CC0099;
}
