* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px auto;
}

.navbar-link {
  font-size: 20px;
  text-decoration: none;
  margin-left: 15px;
  color: #7C808C;
}

.navbar-link:hover {
  color: black;
}

.link-tnw {
  display: flex;
  justify-content:center;
  justify-self: flex-start;
  position: absolute;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

  .tech-conference-link {
  background-color: #FFDD33;
  text-decoration: none;
}

.conference-link {
  padding: 10px 20px;
}

.tech-2022{
  text-decoration: none;
}

.landing-page {
  height: 500px;
  display: flex;
  border: 1px solid blue;
  padding: 15px 20px;
}

.article-ctn1,
.article-ctn2 {
  border: 1px solid red;
  flex: 1;
}

.main-article {
  height: 70%;
  background-color: #FFDD33;
}

.tickets-link {
  height: 30%;
  background-color: #0bDD57;
}

.top-article1 {
  height: 50%;
  background-color: firebrick;
  display: flex;
}

.top-article2 {
  height: 50%;
  background-color: darkorange;
}

.inner-top-article1,
.inner-top-article2 {
  flex: 1;
  border: 2px solid aqua;
}

.popular-stories {
  padding: 40px 0 30px 0;
  display: flex;
  justify-content: center;
}

.popular-stories p {
  font-size: 22px;
  font-weight: bold;
}

.most-popular {
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
}

.most-popular-links {
  flex: 1;
}

.image {
  height: 130px;
  width: 240px;
}

.image-link {
  width: 93%;
  font-size: 19px;
  font-weight: 540;
  padding: 10px 0;
}

.parag3,
.parag4 {
  width: 85%;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  text-decoration: underline;
}