* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px auto;
}

.navbar-link {
  font-size: 20px;
  text-decoration: none;
  margin-left: 15px;
  color: #7C808C;
}

.navbar-link:hover {
  color: black;
}

.link-tnw {
  display: flex;
  justify-content:center;
  justify-self: flex-start;
  position: absolute;
  left: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

  .tech-conference-link {
  background-color: #FFDD33;
  text-decoration: none;
}

.conference-link {
  padding: 10px 30px;
}

.tech-2022{
  text-decoration: none;
}